@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,400&display=swap');

:root{
    --cor-primaria: /*white*/ black;
    --cor-primaria-hover: /*#f6f6f6*/#272727;
    --cor-secundaria: /*black*/ #f6f6f6;
    --cor-terciaria: #fb8500;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

    --fonte-tamanho-grande: 2.25rem;
    --fonte-tamanho-pequeno: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 8%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__item{
    font-size: var(--fonte-tamanho-pequeno);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria); 
}

.apresentacao {
    padding: 4% 8%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__imagem{
    width: 50%;
    max-width: 490px;
}

.apresentacao__conteudo__titulo {
    font-size: var(--fonte-tamanho-grande); 
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo--destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: var(--fonte-tamanho-pequeno);
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__paragrafo a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__rede {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.apresentacao__conteudo__rede__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--fonte-tamanho-pequeno);
}

.apresentacao__conteudo__rede__botao {
    width: 70%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: var(--fonte-tamanho-pequeno);
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.apresentacao__conteudo__rede__botao:hover {
    background-color: var(--cor-primaria-hover);
}

.rodape{
    height: 80px;
    font-size: var(--fonte-tamanho-pequeno);
    font-family: var(--fonte-primaria);
    font-weight: 400;
    background-color: var(--cor-terciaria); 
    color: var(--cor-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px){

    .cabecalho{
        padding: 6%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao {
        padding: 2% 4%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .apresentacao__conteudo {
        width: auto;
    }
    
    .apresentacao__imagem{
        width: 70%;
    }

}

@media (max-width: 600px){


    .cabecalho__menu{
        gap: 30px;
    }

}